<h1>Railsgram</h1>

<% if user_signed_in? %>

  <p>
    Добро пожаловать, <%= current_user.username %>
  </p>

  <%= link_to "My profile",
      user_profile_path(current_user.username) %>
      
    <br><br>

    <%= link_to "Create post", new_post_path %>

    <br><br>

    <%= button_to "Log out",
      destroy_user_session_path,
      method: :delete %>

<% else %>

  <%= link_to "Sign up",
      new_user_registration_path %>

  <br>

  <%= link_to "Log in",
      new_user_session_path %>


<% end %>

